*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    width: 100%;
    height: 28px;
    background-color: rgb(249, 249, 249);
}
.top p {
    display: inline-block;
    margin-left: 80px;

}
.top a{
    margin-left: 60px;
    text-decoration: none;
}

.top a{
 position: relative;
 left: 1200px;
 font-size: 20px;
 margin-left: 10px;
}
i:hover{
    color:red;
}

.navbar{
    width: 100%;
    height: 80px;
    background-color:rgb(0, 0, 0);
    position:sticky;
    top:0;
}
ul{
    list-style-type: none;
    margin-left:640px;
    margin-top: -56px;
}
ul li{
    display: inline-block;
    font-size: 23px;
    /* padding: 26px 10px; */
}
ul li a{
    color: white; 
    margin-left: 50px;  
    text-decoration: none;
}
ul li a:hover{
  color: rgb(215, 9, 9);
}

.navbar .logo{
  margin-left: 40px;
  border-radius: 50%;
}

.about-us{
    width: 100%;
    height: 600px;
    margin-top: -5px;
    background-color: #cfe8ff;
}
.img{
    width: 50%;
    height: 600px;
    background-color: #68d6f1;
    float: left;
}

.img .img-pic{
  width: 80%;
  margin: 90px 50px;
  height: 450px;
  border-radius: 10px;
}

.feedback{
  width: 100%;
  height: 700px;
  background-color: rgb(241, 236, 236);
}
.feedback h4{
  font-size: 60px;
  text-align: center;
  padding-top: 60px;
  background: -webkit-linear-gradient(rgb(203, 27, 30), rgb(228, 9, 9));
    -webkit-background-clip: text;
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(16, 1, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feedback .client-1{
  width: 30%;
  height: 430px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 20px;
  margin-top: 60px;
}
.feedback .client-2{
  width: 30%;
  height: 430px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 50px;
  margin-top: 60px;
}
.feedback .client-3{
  width: 30%;
  height: 430px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 50px;
  margin-top: 60px;
}
.client-1 img,.client-2 img,.client-3 img{
  width: 30%;
  height: 120px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
}

.client-1 h5,.client-2 h5,.client-3 h5{
  font-size: 30px;
  margin-top: -80px;
  margin-left: 150px;

}

.client-1 p,.client-2 p,.client-3 p{
  margin-left: 220px;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  color: #cbdade;
}

.client-1 .para1,.client-2 .para1,.client-3 .para1{
  color: rgb(149, 143, 143);
  margin: 25px;
  text-align: justify;
}
.content{
    width: 50%;
    height: 600px;
    background-color: #68d6f1;
    float: right;
}

.content h1{
    font-size: 60px;
    margin-top: 70px;
    background: -webkit-linear-gradient(rgb(203, 27, 30), rgb(228, 9, 9));
    -webkit-background-clip: text;
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(16, 1, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p{
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
}
.content button{
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    font-weight: 500;
    background-color: red;
    border: 2px solid red;
    color: white;
}
.content button:hover{
  background-color: #68d6f1;
  color: black;
  transition: 2s;
}

.product{
    width: 100%;
    height: 800px;
    background-color: #c8e5ec;
    position: static;
}
.product p{
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    padding: 70px 0;
}
.product h1{
    text-align: center;
    margin-top: -40px;
    font-size: 55px;
     background: -webkit-linear-gradient(rgb(203, 27, 30), rgb(228, 9, 9));
    -webkit-background-clip: text;
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(16, 1, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.product-1{
  width: 23%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  margin-left: 20px;
  float: left;
  margin-top: 40px;
}
.product-2{
  width: 23%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 23px;
  margin-top: 40px;
  
}
.product-3{
  width: 23%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  float: left;
  margin-left: 25px;
  margin-top: 40px;
}

.product-4{
  width: 23%;
  height: 500px;
  background-color: rgb(255, 255, 255);
  float: right;
  margin-right: 20px;
  margin-top: 40px;
}

.product-img{
  margin: 15px;
}

.product-1 h3,.product-2 h3,.product-3 h3,.product-4 h3{
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}

.product-1 .get,.product-2 .get,.product-3 .get,.product-4 .get{
  padding: 6px 12px;
  margin-left: 95px;
  margin-top: 20px;
  border-radius: 15px;
}

.product-1 h3,.product-2 h3,.product-3 h3,.product-4 h3{
  font-size: 25px;
}

.contect-us{
    width: 100%;
    height: 800px;
    background-color: #f0f4f5;
}
.contect-us h2{
    text-align: center;
    font-size: 50px;
    padding: 70px 0;
    background: -webkit-linear-gradient(rgb(203, 27, 30), rgb(228, 9, 9));
    -webkit-background-clip: text;
    background: -webkit-linear-gradient(rgb(241, 12, 12), rgb(16, 1, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contect-us .map{
  width: 48%;
  height: 520px;
  float: left;
  background-color: #f6f8fb;
  margin-left: 30px;
}
.contect-us .form{
  width: 40%;
  height: 530px;
  float: right;
   background-color: #f6f8fb;
   margin-right: 80px;
   padding: 0 12px;
}


/* images */
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


  /* form in html */
  label{
    font-size: 23px;
    line-height: 4;
  }
  input{
    padding: 8px 0;
    margin-left: 10px;
  }

  button{
    padding: 8px 218px;
    font-size: 20px;
    background-color: red;
    color: white;
    margin-bottom: 10px;
    border: 2px solid red;
  }

  button:hover{
    background-color: rgb(254, 253, 251);
    color: black;
    transition: 1s;
  }


  /* animation teli */
.img-ani{
  width: 5%;
  height: 120px;
  background-color: none;
  position: fixed;
  bottom: 0;
  margin-left: 10px;
  animation: myanimation 1s ease-in-out infinite;
}

.img-ani img{
  background-color:white;
  border-radius: 50%;
  animation: myanimation 1s ease-in-out infinite;
}

